html {
    font-size: 0;
}

body {
    white-space: nowrap;
    vertical-align: top;
    margin: 5px;
}

#main {
    vertical-align: top;
    display: inline-block;
    padding: 1px 0 0 1px;
    background-color: #ccc;
    margin-right: 10px;
}

#palette {
    vertical-align: top;
    display: inline-block;
    width: 20vw;
    height: calc(100vh - 20px);
    overflow: scroll;
    padding: 5px;
    background-color: #ccc;
}

.tile-row {
    white-space: nowrap;
    display: table-row;
    box-sizing: border-box;
}

.tile {
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}

.tile-area {
    background-color: #fff;
}

.tile-ignored {
    position: relative;
    overflow: visible;
}

.tile-ignored::after {
    content: '.';
    width: 104%;
    height: 102%;
    background-color: #333;
    position: absolute;
}